*------------------------------------------------------------------------------*
| Connection to : {{ ansible_hostname }}                                       |
| You'll connect login restricted area.                                        |
| Go out now if you're not authorized to connect.                              |
*------------------------------------------------------------------------------*
